@font-face {
    font-family: 'rubikbold';
    src: url('font/rubik-bold-webfont.woff2') format('woff2'),
         url('font/rubik-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

* {
    box-sizing: border-box;
    margin: 0;
    font-family: Courier, monospace;
}
.container {
    height: 100vh;
    border: 2px solid;
    display: flex;
}

.left {
    border: 2px solid red;
    width: 35vw;
    overflow: hidden;
}

.left img {
    height: 100%;
    object-fit: cover;
}

.right{
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    width: 65vw;
    display: flex;
}

.top {
    flex: 4;
}


.blurb {
    margin-top: 15vh;
    margin-bottom: 5vh;
    width: 50ch;
    padding-left: 5%;

    font-family: 'rubikbold', 'Courier New', Courier, monospace;
}

.motivate {
    padding-left: 5%;
}
.bottom {
    flex: 6;
    gap: 10%;
    border: 2px solid red;
}
.form-heading {
    padding: 0 0 5% 5%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.firstname-lastname {
    display: flex;
    gap: 20%;
    width: 100%;
    padding: 0 0 2.5% 5%;
}

.firstname {
    display: flex;
    flex-direction: column;
}

.lastname {
    display: flex;
    flex-direction: column;
}

.email-phonenumber {
    display: flex;
    gap: 20%;
    width: 100%;
    padding: 0 0 2.5% 5%;

}
.email {
    display: flex;
    flex-direction: column;
}

.phone-number {
    display: flex;
    flex-direction: column;
}

.password_confirmpw {
    display: flex;
    gap: 20%;
    width: 100%;
    padding: 0 0 2.5% 5%;
    border: 2px solid blue;

}

.password {
    display: flex;
    flex-direction: column;
}

.confirm-password {
    display: flex;
    flex-direction: column;
}

.button {
    width: 100%;
    padding: 0 0 2.5% 5%;

    border: 2px solid red;
}

.footer {
    display: flex;
    gap: 1%;
    width: 100%;
    padding-left: 5%;
    border: 2px solid blue;
}