@font-face {
    font-family: 'rubikbold';
    src: url('font/rubik-bold-webfont.woff2') format('woff2'),
         url('font/rubik-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

input:invalid {
    box-shadow: 0 0 5px 1px red;
  }
  
  input:focus:invalid {
    box-shadow: none;
  }

* {
    box-sizing: border-box;
    margin: 0;
}
.container {
    height: 100vh;
    width: 100vw;
    border: 2px solid;
    display: flex;
}

.left {
    background-image: url(peter-thomas-unsplash.jpg);
    width: 35vw;
    background-repeat: no-repeat;
    position: relative;
    background-size: cover;

    display: flex;
    flex-direction: column;
}

.odin-banner {
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.6;
    color: white;
    font-family: 'rubikbold';
    top: 8rem;
    padding: .5rem;

    display: flex;
    justify-content: center;
    align-items: center;
}

.odin-text {
    font-size: 4rem;
}

  .photo-cred {
    position: absolute;
    text-align: center;
    color: #ffffff;
    left: 70px;
    bottom: 5px;
    font-size: .6rem;
  }

  .photo-cred a {
    color: #ffffff;
    font-size: .6rem;
  }
.right{
    display: flex;
    flex-direction: column;
    width: 65vw;
    display: flex;
}

.top {
    flex: 25;
    background-color: #fafafa;
    font-size: 1.1rem;
    font-weight: 600;
    font-family:'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}


.blurb {
    margin-top: 14vh;
    margin-bottom: 3vh;
    width: 50ch;
    padding-left: 5%;

    font-size: 1.015rem;
}

.motivate {
    font-size: 1.015rem;
    padding: 0 0 5% 5%;
}
.bottom {
    flex: 75;
    gap: 10%;
}
.form-heading {
    font-family: Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.115rem;
    padding: 3% 0 0 5%;
    margin-bottom: 2.5%;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: Verdana, sans-serif;
    font-size: .9rem;
}

label{
    font-size: .7rem;
}

input[type=text], input[type=email], 
input[type=tel], input[type=password] {
    width: 80%;
    padding: 2px 10px;
    margin: 0;
    display: inline-block;
    border: 1px solid #E5E7EB;
    border-radius: 4px;
    box-sizing: border-box;
  }

  ::placeholder {
    font-size: .7rem;
    background-color: #fafafa;
  }

.firstname-lastname {
    display: flex;
    gap: 5%;
    width: 100%;
    padding: 0 0 2.5% 5%;
}

.firstname {
    display: flex;
    flex-direction: column;
}

.lastname {
    display: flex;
    flex-direction: column;
}

.email-phonenumber {
    display: flex;
    gap: 5%;
    width: 100%;
    padding: 0 0 2.5% 5%;

}
.email {
    display: flex;
    flex-direction: column;
}

.phone-number {
    display: flex;
    flex-direction: column;
}

.password_confirmpw {
    display: flex;
    gap: 5%;
    width: 100%;
    padding: 0 0 2.5% 5%;

}

.password {
    display: flex;
    flex-direction: column;
}

.confirm-password {
    display: flex;
    flex-direction: column;
}

.button {
    width: 100%;
    padding: 0 0 2.5% 5%;
}

.create-account{
    width: 25%;
    background-color: #3b6d41;
    color: white;
    padding: 12px 12px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: .7rem;
}

.create-account:hover {
    background-color: #959e7d;
  }

.footer {
    display: flex;
    gap: 1%;
    width: 100%;
    padding-left: 5%;
    font-size: .80em;
}

.footer a {
    font-weight: 900;
    color: #0a391d;
    text-decoration: none;
  }